{extend name="public:base"/}
{block name="content"}


    <div class="container-fluid">
        <form action="{:url('index/login/check')}" method="post">
            <div class="form-group">
                <label>用户名(必填):</label>
                <input name="user" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>密码(必填):</label>
                <input name="password" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>验证码:</label>
                <input name="captcha" type="text" class="form-control" />
            </div>
            <br>
            <img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'"  />&emsp;<a href="{:url('save')}">没有帐号？</a><br><br>
            <!--<div class="form-group">-->
                <!--<div><a href="#"><span class="glyphicon glyphicon-plus onlineUpImg"></span></a></div>-->
                <!--<label>图片(最多上传5张,可不上传):</label>-->
            <!--</div>-->
            <div class="form-group">
                <button class="btn btn-primary onlineBtn">登录</button>
            </div>
        </form>
    </div>
{/block}