{extend name="public:base"/}
{block name="content"}



    <div class="container-fluid">
        <div class="indexImg row">
            <img src="/public/index/image/4.png" width="100%" />
        </div>
        <div class="blank"></div>
        <div class="container">
            <ul class="list-group fuwuList">
                <li class="list-group-item"><a href="{:url('index/darticle')}" class="text-danger"><span class="iconfont">&#xe604;</span>商家活动</a> </li>

            </ul>
        </div>
    </div>
{/block}